fieldset {
    border-radius: 5px 5px 0 0;
    margin: 0;
    padding: 10px;
    border-bottom: none;
}

label {
    font-size: 19px;
    display: inline-block;
    text-align: left;
}

h1, p {
    text-align: center;
}

input[type="text"], input[type="email"], input[type="password"], input[type="submit"] {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 0;
    margin-bottom: 10px;
    width: 100%;
    background-color: #ffff;
}

input[type="submit"] {
    color: #ffff;
    background-color: rgb(55, 55, 255);
    border: none;
    width: 100%;
    font-size: 20px;
    margin-top: 15px;
}