ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar-ul {
    background-color: #2e81e2;
}

.navbar-content {
    float: left;
}

.navbar-content a {
    transition: 0.5s;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: police_custom_2, serif;
}

.navbar-content a:hover {
    transition: 0.5s;
    background-color: black;
    color: #2e81e2;
}

#name, #update {
    border-right: 1px solid #FFFF;
}

#register {
    border-left: 1px solid #FFFF;
}

#login, #register {
    float: right;
}

#footer {
    margin: 0;
    padding: 0;
    background-color: #2e81e2;
    bottom: 0;
}

#logo-name {
    font-family: police_custom_2, serif;
    font-size: 32px;
    color: black;
}

#logo {
    vertical-align: middle;
    width: 50px;
    padding-right: 4px;
}

#footer-content {
    text-align: center;
}

@font-face {
    font-family: police_custom;
    src: url("../fonts/Staatliches-Regular.ttf") format("opentype");
}

@font-face {
    font-family: police_custom_2;
    src: url("../fonts/Mont-Heavy.otf") format("opentype");
}

@font-face {
    font-family: police_custom_3;
    src: url("../fonts/Mont-ExtraLight.otf") format("opentype");
}