main, nav {
    margin-left: 25px;
    margin-right: 25px;
}

span {
    font-family: police_custom_3, serif;
    font-size: 14px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar, footer {
    background-color: #2e81e2;
}

.navbar-content {
    float: left;
}

.navbar-content a {
    transition: 500ms;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: police_custom_2, serif;
}

.navbar-content a:hover {
    transition: 500ms;
    background-color: black;
    color: #2e81e2;
}

#name, #update {
    border-right: 1px solid #FFFF;
}

#register {
    border-left: 1px solid #FFFF;
}

#login, #register {
    float: right;
}

.page-title {
    margin: 35px auto;
    border-radius: 10px;
    border: black 1px solid;
}
.h1-page-title {
    width: max-content;
    margin: 20px auto;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0;
}

#footer-content {
    color: white;
    font-family: police_custom_3, serif;
    font-size: 14px;
    text-align: center;
}

@font-face {
    font-family: police_custom;
    src: url("../fonts/Staatliches-Regular.ttf") format("opentype");
}

@font-face {
    font-family: police_custom_2;
    src: url("../fonts/Mont-Heavy.otf") format("opentype");
}

@font-face {
    font-family: police_custom_3;
    src: url("../fonts/Mont-ExtraLight.otf") format("opentype");
}