.user-form {
    padding: 20px;
    width: 400px;
    margin: auto;
}

fieldset {
    border: 1px solid black;
    border-radius: 7px;
    margin: 0;
    padding: 10px;
}

label {
    font-size: 19px;
    text-align: left;
}

h1, label, input[type="submit"] {
    font-family: police_custom, sans-serif;
}

p, input {
    font-family: police_custom_1, sans-serif;
    font-size: 15px;
}

h1, p {
    text-align: center;
}

input[type="text"], input[type="email"], input[type="password"], input[type="submit"] {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 94%;
    background-color: #ffff;
}

.input:focus,
.input:active {
    border: 1px solid #2e81e2;
}

.form-content {
    margin: auto 10px;
}

input[type="submit"] {
    transition: 1s;
    color: #ffff;
    background-color: #2e81e2;
    border: none;
    width: 100%;
    font-size: 20px;
    margin-top: 15px;
}

input[type="submit"]:hover {
    transition: 1s;
    background-color: black;
    color: #2e81e2;
}

@font-face {
    font-family: police_custom;
    src: url("../fonts/Mont-Heavy.otf") format("opentype");
}

@font-face {
    font-family: police_custom_1;
    src: url("../fonts/Mont-ExtraLight.otf") format("opentype");
}